@font-face {
    font-family: 'museo';
    src: url('fonts/museo300-regular-webfont-webfont.eot');
    src: url('fonts/museo300-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo300-regular-webfont-webfont.woff') format('woff'),
         url('fonts/museo300-regular-webfont-webfont.ttf') format('truetype'),
         url('fonts/museo300-regular-webfont-webfont.svg#webfontuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo700';
    src: url('fonts/Museo700-Regular-webfont.eot');
    src: url('fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Museo700-Regular-webfont.woff') format('woff'),
         url('fonts/Museo700-Regular-webfont.ttf') format('truetype'),
         url('fonts/Museo700-Regular-webfont.svg#Museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 22px;
    font-family: arial, sans-serif;
    color: #828282;
    background: url(images/body.png) repeat 0 0;
    min-width: 1000px;
}

a { color: #ff9031; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a.dot { background: url(images/dot.png) no-repeat 0 5px; text-decoration: underline; padding-left: 7px;  }
a.dot:hover { text-decoration: none; }
a img { border: 0; }

article, aside, details, footer, header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { outline: red solid 0px; width: 980px; margin: 0 auto; }

.header { background: url(images/food.png) repeat; height: 514px; }
.header .shell {outline: green solid 0px; background: url(images/asjan.png) no-repeat 280px 25px; position: relative; height: 100%;  }
#logo { outline: red solid 0px; width: 150px; font-size: 0; line-height: 0; float: left; }
#logo a { height: 141px; background: url(images/logo.png) no-repeat 0 0; text-indent: ; display: inherit; }



.header-right { float: right; width: 264px; position: relative; margin-right: -10px;  }
.subscribe { width: 120px; height: 54px; background: url(images/subscribe.png) no-repeat 0 0; float: left; font-family: 'museo', arial, helvetica, serif; line-height: 48px; padding: 0px 20px;  }
.subscribe a { color: #fff; font-size: 16px; position: relative; padding-left: 40px; }
.subscribe a span { background: url(images/sbubscribe-ico.png) no-repeat 0px 0px; width: 34px; height: 34px; position: absolute; display: block;  top: -5px; left: 0; }
.subscribe a:hover { color: #f6c387; text-decoration: none; }

.socials a { background: url(images/socials.png) no-repeat 0 0; width: 50px; height: 52px;  font-size: 0; line-height: 0; text-indent: -4000px; float: left; transition: margin 0.2s;
-moz-transition: margin 0.2s;
-webkit-transition: margin 0.2s;
-o-transition: margin 0.2s; }
.socials a.twitter-ico { background-position: right 0; }
.socials a.twitter-ico:hover { background-position: right -55px; }
.socials a:hover { background-position: 0 -55px; margin-top: -5px; }
.main { background: url(images/wrapper.png) repeat-x 0 0; }

#navigation { outline: red solid 0px; background: url(images/navigation.png) no-repeat 0 0; width: 984px; height: 90px; padding-top: 9px; padding-left: 20px;  position: absolute; top: 140px; left: -10px; z-index: 100; }
#navigation ul { list-style: none; list-style-position: outside; }
#navigation ul li { float: left; font-size: 18px; font-family: 'museo', arial, helvetica, serif; background: url(images/nav-border.png) no-repeat right 0; line-height: 48px; padding: 0 29px; }
#navigation ul li.last { background: transparent; }
#navigation ul li a { color: #fff; text-shadow: rgba(0,0,0,0.6) 0px 1px 0px; }
#navigation ul li a:hover { text-decoration: none; color: #f6c387; }

.slider-holder {outline: red solid 0px; width: 922px; height: 340px; padding: 60px 70px; overflow: hidden; position: relative; background: url(images/slider.png) no-repeat 0 0; position: absolute; top: 150px; left: -44px; z-index: 5;}
.big-slider { width: 922px; height: 340px; overflow: visible; position: static; }
.big-slider ul.slides { position: relative; list-style: none; list-style-position: outside; overflow: visible; }
.big-slider ul.slides li { position: relative; width: 922px; height: 340px; float: left;  }
.big-slider ul.slides li img { width: 330px; height: 313px; margin-top: 26px; margin-right: 24px; margin-left: 40px; }
.big-slider ul.slides .slide-cnt { width: 490px; float: left; padding-top: 47px; }
.big-slider ul.slides .slide-cnt h2 { font-size: 44px; color: #ff9031; font-family: 'museo700',arial, helvetica, serif; font-weight: normal; line-height: 53px; padding-bottom: 4px; }
.big-slider ul.slides .slide-cnt p { padding-bottom: 4px; }
.big-slider ul.slides .slide-cnt a.red-btn { width: 154px; height: 58px; text-align: center; line-height: 50px; margin-top: 6px;  position: relative; left: -5px; color: #fff; text-shadow: rgba(0,0,0,0.5) 0px 1px 1px; font-size: 18px; display:block; background: url(images/red-btn.png) no-repeat 0 0;}
.big-slider ul.slides .slide-cnt a.red-btn:hover { text-decoration: none; color: #f6c387;  }

.slider-holder span.left { background: url(images/left.png) no-repeat 0 0; width: 21px; height: 130px; position: absolute; left: 55px; top: 147px; z-index: 1000;} 
.slider-holder span.right { background: url(images/right.png) no-repeat 0 0; width: 21px; height: 130px; position: absolute; right: 51px; top: 147px; z-index: 1000;} 


.main { outline: green solid 0px; padding-top: 101px; min-height: 540px; }
.main h3 { font-size: 24px; font-family: 'museo', arial, helvetica, serif; font-weight: normal; color: #c73331; padding-bottom: 24px; text-shadow: 0 1px 0 #fff; } 
.main h4 { font-size: 14px; color: #ff9031; } 
.main h4 a { color: #ff9031; } 
.main h4 a:hover { color: #bf5902; text-decoration: none; } 
.main .cols { background: url(images/separator.png) no-repeat center bottom; padding-bottom: 58px; margin-bottom: 20px;  }
.main .cols h3 { padding-bottom: 24px;  }
.main .cols .col { width: 300px; float: left; }
.main .cols .col+.col { padding-left: 40px;  }
.main .cols .col img.alignleft { margin-right: 13px; }
.main .cols .col .cnt { overflow: hidden; height: 100%; }

.main .content {outline: white solid 0px; width: 620px; float: left; }
.main .content h3 { padding-bottom: 37px;  }
.main .content .entry { padding-bottom: 33px;  }
.main .sidebar { width: 300px; float: right;  }
.main .sidebar .vk_groups{ background: url(images/vk-box.png) no-repeat 0 0; padding: 24px;  }


html, body {outline: red solid 0px; height: 100%; }
#wrapper {outline: red solid 0px; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -58px; }
#footer, #footer-push { height: 58px; }
#footer {outline: green solid 0px; background: url(images/footer.png) repeat-x 0 0; padding-top: 18px; height: 40px;  }
#footer .footer-nav { float: left; }
#footer .footer-nav ul { list-style: none; list-style-position: outside; font-size: 11px; }
#footer .footer-nav ul li { float: left; border-right: 1px solid #cf8832; line-height: 11px; padding: 0 10px;  }
#footer .footer-nav ul li a { color: #fbe0c0; }
#footer .footer-nav ul li a:hover { color: #fff; text-decoration: none;  }
#footer .footer-nav ul li.last { border-right: 0; padding-right: 0; }
#footer p.copy { color: #fbe0c0; font-size: 11px; float: right; line-height: 11px; }
#footer p.copy span { padding: 0 10px; color: #cf8832;  }
#footer p.copy a { color: #fbe0c0; text-decoration: underline; }
#footer p.copy a:hover { color: #fff; text-decoration: none; }
.shell .content {margin-top: 100px;}
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}
.bordered tr{
	background: #fbf8e9;
}
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}
.adding input, textarea, select {
	margin-left: 100px;
	margin-bottom: 10px;
	width: 250px;
}
.adding label {
	font-size: 20px;
	position: fixed;
}
.adding input[type="submit"]{
	width: auto;
}
.red {color: #e74c3c;}
.input {
	position: relative;
	padding: 0px 10px;
	border: 1px solid rgb(216, 216, 216);
	height: 36px;
	font-family: 'Open Sans', Verdana;
	margin-bottom: 5px;
}
.btn {
	background: #5e5e5e;
	color: #fff !important;
	word-spacing: 0.25em;
	border: none;
	line-height: 22px;
	padding: 12px 13px 11px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	display: inline-block;
	margin: 5px 5px 10px 0px;
	text-decoration: none;
	text-shadow: none;
}
.login{
	margin-top: 500px;
	margin-left: 50px;
}
.side {outline: red solid 0px; width: 922px; height: 340px; padding: 80px 70px; overflow: hidden; position: relative; background: url(images/slider.png) no-repeat 0 0; position: absolute; top: 150px; left: -44px; z-index: 5;}
.content {
	min-height: 500px;
	height: auto;
	width: 100%;
	color: #444444;
	padding-top: 200px;
}
.table-div{
	min-height: 300px;
	height: auto;
	width: 80%;
	color: #444444;
	padding-top: 100px;
}
