fieldset {
	display: inline-block;
	padding: 25px;
	margin: 20px;
}
label {
	font-size: 20px;
	position: fixed;
}
input, textarea {
	margin-left: 100px;
	margin-bottom: 10px;
	width: 250px;
}
div {
	width: 350px;
}
input[type="submit"]{
	width: auto;
	
}